*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 13%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;   
}

.container:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
   
    background-image: url('bg.png');
   
}

.calculator {
    border: #214263 solid 1px;
    box-shadow: 0 0 10px #82AEFF;
    background-color: #18202F;
    border-radius: 10px;
    width: 360px;
    height: 450px;
    padding: 20px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: grid;
}

.scr {
    display: flex;
    flex-direction: column;
    border: rgb(85, 120, 190) solid 1px;
    border-radius: 4px;
    text-align: end;
    height: 100px;
    color: white;
}

.displayPrevious {
    padding-top: 15px;
}

.display {
    font-size: 2rem;
    padding-top: 30px;
}

b{
    grid-column-start: span 3;
}

.clear {
    grid-area: clear;
    background-color: #FFDA87;
}

.clearAll{
    grid-area: clearAll;
    background-color: #FFDA87;
}

.ce:hover {
    background-color: #c75e52;
}

.b0{
    grid-area: btn0;
}

.b1{
    grid-area: btn1;
}

.b2{
    grid-area: btn2;
}

.b3{
    grid-area: btn3;
}

.b4{
    grid-area: btn4;
}

.b5{
    grid-area: btn5;
}

.b6{
    grid-area: btn6;
}

.b7{
    grid-area: btn7;
}

.b8{
    grid-area: btn8;
}

.b9{
    grid-area: btn9;
}

.bDot{
    grid-area: btnDot;
}

.bPlus{
    grid-area: btnPlus;
}

.bSub{
    grid-area: btnSub;
}

.bMult{
    grid-area: btnMult;
}

.bDivide{
    grid-area: btnDivide;
}

.bEq{
    grid-area: btnEq;
    background-color: rgb(115, 157, 241);
}

.bEq:hover {
    background-color: #27ae60;
}

.btn{
    background-color: white;
}

.btn:hover{
    background-color: rgb(248, 248, 218);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". . clear clearAll"
    "btn7 btn8 btn9 btnDivide"
    "btn4 btn5 btn6 btnMult"
    "btn1 btn2 btn3 btnSub"
    "btn0 btnDot btnEq btnPlus";

    border-top: none;
    padding: 15px;
}

.buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

button:hover{
    transform: scale(1.15);
    transition: 0.2s;
}

